
@{
    ViewBag.Title = "Approve Requestion";
    Layout = "~/Views/Shared/_mainView.cshtml";
}

<section class="content">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Requestion Approval Pending</h3>
        </div>
        <div class="card-body">

            <div class="table">
                <table id="table_id" class="table-bordered table-hover table-sm table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th class="center">Requisition No</th>
                            <th class="tblBroker_head">BranchID</th>
                            <th class="center">Branch</th>
                            <th class="center">Department</th>
                            <th class="center">Requested by</th>
                            <th class="tblBroker_head">DepartmentID</th>
                            <th class="tblBroker_head">Status</th>
                            @*<th class="tblBroker_head">Serial</th>*@
                            @*<th class="center">CurrentStatus</th>*@
                            <th class="center">Next Status</th>
                            <th class="center">View</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var r_List in ViewBag.RequestionList)
                        {
                            <tr>
                                <td>@r_List.App_Req_ID</td>
                                <td class="tblBroker_head">@r_List.BranchID</td>
                                <td>@r_List.BranchName</td>
                                <td>@r_List.DepartmentName</td>
                                <td>@r_List.Requested_by</td>
                                <td class="tblBroker_head">@r_List.DepartmentId</td>
                                <td class="tblBroker_head">@r_List.Status</td>
                                @*<td class="tblBroker_head">@r_List.Serial </td>*@
                                @*<td>@r_List.CurrentStatus</td>*@
                                <td>@r_List.NextStatus</td>
                                <td><input type="button" value="View" class="btn btn-primary" onclick="OpenCS(@r_List.App_Req_ID)" /></td>
                                @*<td><a class="btn btn-primary" onclick="OpenCS(@r_List.App_Req_ID)" role="button">View</a></td>*@
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="modal fade bd-example-modal-xl" id="CS" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
                <div class="modal-dialog modal-xl" role="document">
                    <div class="modal-content">
                        <div id="editDiv2">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    $(document).ready(function () {
        var table = $('#table_id').DataTable({
            rowReorder: {
                selector: 'td:nth-child(2)'
            },
            "fnInitComplete": function (oSettings) {
                $('.tblBroker_head').hide();
            },
            responsive: true
        });
    });
    $(document).ready(function () {
        $('#table_id').DataTable();

    });
</script>

<script type="text/javascript">
    function OpenCS(MasterID) {
        $.ajax({
            url: "../Requestion/RequestionPendingDetails/",
            data: { AppReqID: MasterID },
            success: function (result) {
                $('#editDiv2').html(result);
                $('#CS').modal('toggle');
            }
        });
    }
</script>

